@{
    Layout = "_Layout";
    ViewData["Title"] = "Kategori Detay Sayfası";
}
@* model eklemeyi unutma*@
@model DBFirstProje.Web.Models.Category
<div class="container-fluid">
    <h1>KATEGORİ DETAYLARI</h1>
    <hr />
    <div class="col-md-6">
        <form asp-controller="Category" asp-action="Details" method="post">

            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label asp-for="SubCategory1" class="control-label"></label>
                <input asp-for="SubCategory1" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="SubCategory2" class="control-label"></label>
                <input asp-for="SubCategory2" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label asp-for="SubCategory3" class="control-label"></label>
                <input asp-for="SubCategory3" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label asp-for="SubCategory4" class="control-label"></label>
                <input asp-for="SubCategory4" class="form-control" disabled/>
            </div>
        </form>
    </div>
    <hr />
    <div class="form-group m-2">
        <a asp-controller="Category" asp-action="Update" class="btn btn-success" asp-route-id="@Model.Id">Kategoriyi Güncelle</a>
        <a asp-controller="Category" asp-action="Index" class="btn btn-outline-dark">Kategoriler Listesine git...</a>
    </div>
    <hr />
</div>