@{
    ViewData["Title"] = "Ana Sayfa";
}

<hr />

<h3>ANA SAYFA</h3>

<a class="btn btn-dark" asp-controller="Product" asp-action="Index">Ürünler Sayfasına Git....</a>
<hr />
<a class="btn btn-primary" asp-controller="Product" asp-action="Add">Ürün Ekle Sayfasına Git....</a>
<hr />
<hr />
<a class="btn btn-outline-info" asp-controller="Category" asp-action="Index">Kategoriler  Sayfasına Git....</a>
<hr />
<a class="btn btn-outline-dark" asp-controller="Category" asp-action="Add">Kategoriler Ekle Sayfasına Git....</a>
<hr />